html * {
	direction: ltr;
}

.center {
    text-align: center;
}

.container {
    margin: 50px;
}

.title{
    margin-top: 50px;
}

.sub-title {
    margin-top: 25px;
    font-weight: bold;
}

.title:before {
    content: '# ';
}

.desc {
    margin-left: 25px;
    line-height: 1.8em;
}

.bold {
    font-weight: bold;
}

code {
    text-decoration: none;
    font-style: normal;
    background-color: #e8efe7;
    color: #ad6275;
    padding-right: 5px;
    padding-left: 5px;
}

table.api {
    width: 100%;
    margin-top: 20px;
}

table.api tr {
    border-top: 1px #dddddd solid;
}

table.api th, table.api td {
    padding: 5px;
}

.italic {
    font-style: italic;
}

.footer {
    background-color: #eeeeee;
    text-align: center;
    padding: 5px;
}